@charset "UTF-8";
/* CSS Document */
body {
	background-color: #FFFFCC;
	text-color: #330000;
	font-family: Verdana, Arial, sans-serif;
}
header {
	background-color: #CCAA66;
	text-color: #000000;
}
h1 {
	line-height: 200%;
}
nav {
	text-align: center;	
}
footer {
	background-color: #CCAA66;
	text-color: #000000;
	font-size: 0.60em;
	text-align: center;
	font-style: italic;	
}
#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
